@page "/Payment"
@attribute [Authorize(Roles = "Client")]

<EditForm Model="PaymentModel" OnValidSubmit="@Pay"> 
    <DataAnnotationsValidator/>
    <div class="payment-page-container">
        <div class="payment-tour-container">
            Назва туру: @_tour.Name <button @onclick="TourDetails">Детальніше</button>
        </div>
        <div class="payment-container">
            <div>Введіть данні вашої карти для оплати</div>
            <div>Номер карти:</div>
            <InputText type="text" @bind-Value="@PaymentModel.CardNumber"/>
            <ValidationMessage For="@(() => PaymentModel.CardNumber)" />
            <div>Термін дії:</div>
            <InputDate @bind-Value="@PaymentModel.ExpiryDate"/>
            <div>@PaymentModel.ErrorDateMesage</div>
            <div>CVV код:</div>
            <InputNumber type="number" @bind-Value="@PaymentModel.CVV"/>
            <ValidationMessage For="@(() => PaymentModel.CVV)" />
            <button type="submit">Pay</button>
        </div>
    </div>
</EditForm>



