@page "/AdminPanel"
@attribute [Authorize(Roles = "Admin")]

<div style="display: flex;">
<div class="sidebar">
    <div class="sidebar-brand">
        TravelLand
    </div>
    <div>
        <nav style="display: flex; flex-direction: column;">
            <div style="margin: 20px; background-color: #323232; border-radius: 16px; height: 50px; display: flex; justify-content: center; align-items: center">
                <div>
                    Клієнти
                </div>
            </div>
            <div @onclick="Tours" style="margin: 20px; background-color: #323232; border-radius: 16px; height: 50px; display: flex; justify-content: center; align-items: center">
                <div>
                    Тури
                </div>
            </div>
            <div @onclick="Logout" style="margin: 20px; background-color: #323232; border-radius: 16px; height: 50px; display: flex; justify-content: center; align-items: center">
                <div>
                    Вийти
                </div>
            </div>
        </nav>
    </div>
</div>

<div style="width: 100%; margin: 50px;">
    @if (Users == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <table id="customers">
            <thead>
            <tr>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Role</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Users)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Role</td>
                    <td>
                        <button @onclick="@(() => Edit(@user.Id))">Edit</button>
                        <button @onclick="@(() => Info(@user.Id))">Info</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
</div>
